@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

a,
ul,
li {
	text-decoration: none;
}

input,
textarea,
button {
	outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 30px #1c1d20 inset !important;
	-webkit-text-fill-color: #d9d9d9 !important;
}

::-webkit-scrollbar {
	display: none;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.ticker__item-to-left {
	padding: 0 10px;
	animation: ticker-to-left 3s linear infinite;
}

.ticker__item-to-right {
	padding: 0 10px;
	animation: ticker-to-right 3s linear infinite;
}

@keyframes ticker-to-left {
	0% {
		transform: translateX(0);
	}
	to {
		transform: translateX(-100%);
	}
}

@keyframes ticker-to-right {
	0% {
		transform: translateX(-100%);
	}
	to {
		transform: translateX(0);
	}
}
