@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

body {
	background-color: #181a1d;
}

a,
ul,
li {
	text-decoration: none;
}

input,
textarea,
button {
	outline: none;
}

::-webkit-scrollbar {
	display: none;
}
